* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Outfit", sans-serif;
    background-image: url(../images/background-img.jpg);
    background-size: cover;
    background-position: top center;
  }
  .app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
  }
  header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 14px;
    border-bottom: 3px solid #0070df;
    border-right: 3px solid #0070df;
  
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
    color: #eeeeee;
  }
  header input:focus {
    background-color: rgba(41, 41, 41, 0.8);
  }
  main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .location .city {
    color: #eeeeee;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .location .date {
    color: #eeeeee;
    font-size: 16px;
  }
  .current-temp .temp {
    color: #eeeeee;
    font-size: 80px;
    font-weight: 600;
    margin: 20px 0 7px 0;
    text-shadow: 3px 5px rgba(0, 0, 0, 0.5);
  }

  .current-temp .weather {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0 3px rgba(0, 0, 0, 0.4);
  }
  .current-temp .high-low {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0 3px rgba(0, 0, 0, 0.4);
  }
  